<br>
<br>
<br>
<h4>
        <span class="label label-primary">
            Loggy Agents Details&nbsp;
        </span>
    <swiss-help help-txt="This table displays list of all agents where loggy service is running"
                data-target="webuiPopover1"
                style="cursor: help">
    </swiss-help>
</h4>

<table class="table table-hover table-condensed table-bordered">
    <thead>
    <tr class="active">
        <th scope="col">Log Agent</th>
        <th scope="col">Product</th>
        <th scope="col">IsConnected ?</th>
        <th scope="col">Connection time</th>
        <th scope="col">Subscriber</th>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="c in vm.clients">
        <td class="wrap-table-text">{{ c.server }}</td>
        <th scope="row"><a href="/#/detail/{{c.server}}/{{c.name}}" >{{ c.name }}</a></th>
        <td class="wrap-table-text" ng-if="c.is_connected === 1">Connected</td>
        <td class="wrap-table-text" ng-if="c.is_connected === 0">Disconnected</td>
        <td class="wrap-table-text">{{ c.last_connection | date : "fullDate"  }}</td>
        <td class="wrap-table-text">{{ c.lstErrorSubscriber  }}</td>
    </tr>
    </tbody>
</table>

<br>